@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h5>@Html.DisplayNameFor(model => model.Speciality): @Html.DisplayFor(model => model.Speciality)</h5>
@if(@Model.Clients.Count == 0)
{
  <p>This Stylist has not been  assigned a client yet!</p>
}
else
{
  <h6>Clients assigned to @Html.DisplayFor(model => model.Name) are: </h6>
  <ul>
    @foreach (var client in Model.Clients)
    {
      <li>@client.Name</li>
    }
  </ul>
}
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId})</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>

